# Média Móvel

In [1]:
# Importando os pacotes que iremos utilizar
import pandas as pd
import numpy as np
import random

In [20]:
# Criando uma lista vazia
dados = []

# Atribuindo um range de datas para uma variavel periodo_data
periodo_data = pd.date_range("01/01/2023", "01/07/2023")

# Loop for para inserir os dados na lista chamada "data"
for i in range(len(periodo_data)):

    vendas_dinheiro = random.randint(1, 10)
    vendas_cartao = random.randint(1, 10)

    tipoDia = "Dia da Semana"

    if periodo_data[i].weekday()>4:
        tipoDia = "Final de Semana"

    dados.append([str(periodo_data[i].date()), tipoDia, "Dinheiro", vendas_dinheiro])
    dados.append([str(periodo_data[i].date()), tipoDia, "Cartão", vendas_cartao])

dados = pd.DataFrame(dados, columns=["Data", "Tipo_Dia", "Forma_Pagamento", "Qtd_Vendas"])
dados["Data"] = pd.to_datetime(dados["Data"])

In [22]:
dados

         Data         Tipo_Dia Forma_Pagamento  Qtd_Vendas
0  2023-01-01  Final de Semana        Dinheiro           9
1  2023-01-01  Final de Semana          Cartão           4
2  2023-01-02    Dia da Semana        Dinheiro           2
3  2023-01-02    Dia da Semana          Cartão           6
4  2023-01-03    Dia da Semana        Dinheiro           8
5  2023-01-03    Dia da Semana          Cartão          10
6  2023-01-04    Dia da Semana        Dinheiro           8
7  2023-01-04    Dia da Semana          Cartão          10
8  2023-01-05    Dia da Semana        Dinheiro           4
9  2023-01-05    Dia da Semana          Cartão          10
10 2023-01-06    Dia da Semana        Dinheiro           4
11 2023-01-06    Dia da Semana          Cartão           4
12 2023-01-07  Final de Semana        Dinheiro           9
13 2023-01-07  Final de Semana          Cartão           4

In [23]:
# Cria uma coluna com a soma de uma janela de 2 linhas
dados['soma_2dias'] = dados.rolling(window=2).Qtd_Vendas.sum()

In [24]:
# Cria uma coluna com a soma de uma janela de 3 linhas
dados['soma_3dias'] = dados.rolling(window=3).Qtd_Vendas.sum()

In [25]:
# Cria uma coluna com a média de uma janela de 2 linhas
dados['media_2dias'] = dados.rolling(window=2).Qtd_Vendas.mean()

In [26]:
# Cria uma coluna com a média de uma janela de 3 linhas
dados['media_3dias'] = dados.rolling(window=3).Qtd_Vendas.mean()

In [27]:
# Cria uma coluna com a média de uma janela de 7 dias
dados['med_movel_7dias'] = dados.rolling(window='7d', on='Data').Qtd_Vendas.mean()

In [28]:
# Visualizando o Data Frame
dados

,Data,Tipo_Dia,Forma_Pagamento,Qtd_Vendas,soma_2dias,soma_3dias,media_2dias,media_3dias,med_movel_7dias
0,2023-01-01,Final de Semana,Dinheiro,9,NaN,NaN,NaN,NaN,9.000000
1,2023-01-01,Final de Semana,Cartão,4,13.0,NaN,6.5,NaN,6.500000
2,2023-01-02,Dia da Semana,Dinheiro,2,6.0,15.0,3.0,5.000000,5.000000
3,2023-01-02,Dia da Semana,Cartão,6,8.0,12.0,4.0,4.000000,5.250000
4,2023-01-03,Dia da Semana,Dinheiro,8,14.0,16.0,7.0,5.333333,5.800000
5,2023-01-03,Dia da Semana,Cartão,10,18.0,24.0,9.0,8.000000,6.500000
6,2023-01-04,Dia da Semana,Dinheiro,8,18.0,26.0,9.0,8.666667,6.714286
7,2023-01-04,Dia da Semana,Cartão,10,18.0,28.0,9.0,9.333333,7.125000
8,2023-01-05,Dia da Semana,Dinheiro,4,14.0,22.0,7.0,7.333333,6.777778
9,2023-01-05,Dia da Semana,Cartão,10,14.0,24.0,7.0,8.000000,7.100000
10,2023-01-06,Dia da Semana,Dinheiro,4,14.0,18.0,7.0,6.000000,6.818182
11,2023-01-06,Dia da Semana,Cartão,4,8.0,18.0,4.0,6.000000,6.583333
12,2023-01-07,Final de Semana,Dinheiro,9,13.0,17.0,6.5,5.666667,6.769231
13,2023-01-07,Final de Semana,Cartão,4,13.0,17.0,6.5,5.666667,6.571429